#profileImg {
  height: 400px;
  width: auto;
}

.mask {
  background: linear-gradient(45deg,
      rgba(29, 236, 197, 0.7),
      rgba(91, 14, 214, 0.7) 100%);


}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -69.59px;
    height: 50vh !important;
  }

}

@media (max-width: 991px) {
  .navbar {
    background-color: #6869da !important;
  }
}

.navbar .nav-link {
  color: #fff !important;
}